--extra-index-url https://download.pytorch.org/whl/cu129

numpy
pandas
scikit-learn
joblib
torch==2.10.0+cu129
yfinance
mlflow
matplotlib
fastapi
uvicorn[standard]
pydantic
psutil
prometheus-fastapi-instrumentator
